body {
    font-family: 'Raleway', sans-serif;
    background-image: url("img/backgroundtech.jpg");
    background-size: cover;
}
span {
    color: red;
    letter-spacing: -0.3rem;
}
.content {
    text-align: center;
    padding-top: 47%;
    font-size: 2em;
}
h1 {
    font-size: 1.5em;
}
.btn {
    color: white;
    background-color: red;
    border-color: black;
}
.btn:hover {
    color: red;
    background-color: white;
    border-color: black;
}
hr {
    border: 0;
    height: 1px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
