body {
    font-family: 'Raleway', sans-serif;
    background-image: url("img/backgroundtech.jpg");
    background-size: cover;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.4);
}
span {
    color: red;
    letter-spacing: -0.3rem;
    font-weight: 600;
}
.content {
    text-align: center;
    padding-top: 40%;
    font-size: 2em;
}
.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:hover {
    background-color: white;
}
.navbar-default .navbar-toggle {
    border-color: black;
}
.navbar-default .navbar-nav > li > a:hover {
    color: red;
}
#logo {
    font-size: 3em;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: red;
    background-image: none;
    border: 1px solid black;
    border-radius: 4px;
}
h1 {
    font-size: 2.5em;
}
.btn {
    color: white;
    background-color: red;
    border-color: black;
}
.btn:hover {
    color: red;
    background-color: white;
}
hr {
    border: 0;
    height: 1px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
